<% @page_title = "Home" %>

<div class="max-w-5xl py-4 prose mx-auto">
  <h1>home page</h1>
  <p class="text-gray-500">This is the home page, <code>landings_controller#show</code> and <code>landings/show.html.erb</code>.</p>

  <div class="mt-4 flex gap-4 items-center">
    <span class="text-lg font-bold">You are signed in as <code><%= Current.identity.email %></code>.</span>
    <%= button_to "Sign Out", session_path(script_name: nil), class: "btn btn-error btn-sm", method: :delete %>
  </div>

  <%# Debug user, account %>
  <%# <h2>Current User and Accounts</h2> %>

  <p>Current User:</p>
  <%= debug Current.identity.inspect %>

  <p>Current Account:</p>
  <div class="flex gap-4 items-center">
    <span class="text-lg font-bold">Switch to other account:</span>
    <% Current.identity.accounts.each do |account| %>
      <%= link_to account.name, root_path(script_name: account.slug_path), class: "btn btn-primary btn-sm", disabled: Current.account.id == account.id %>
    <% end %>
  </div>
  <%= debug Current.account.inspect %>
</div>
