<% @page_title = "Accounts" %>

<div class="min-h-screen max-w-5xl py-4 prose mx-auto">
  <h1>Accounts</h1>

  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Created At</th>
        <th>Updated At</th>
      </tr>
    </thead>
    <tbody>
      <% @accounts.each do |account| %>
        <tr>
          <td><%= link_to account.name, root_path(script_name: account.slug_path) %></td>
          <td><%= account.description %></td>
          <td><%= account.created_at %></td>
          <td><%= account.updated_at %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= link_to "New Account", new_account_path %>
</div>
